replicaCount: 1
image:
  repository: dimozone/fleet-onboard-app
  pullPolicy: IfNotPresent
  tag: 9de93d7
imagePullSecrets: []
nameOverride: ''
fullnameOverride: ''
serviceAccount:
  create: true
  annotations: {}
  name: ''
podAnnotations: {}
podSecurityContext: {}
securityContext: {}
env:
  ENVIRONMENT: prod
  USE_DEV_CERTS: false
  API_PORT: '8080'
  MONITORING_PORT: 8888
  LOG_LEVEL: info
  SERVICE_NAME: fleet-onboard-app
  JWT_KEY_SET_URL: https://auth.dimo.zone/keys
  IDENTITY_API_URL: https://identity-api.dimo.zone/query
  DEVICE_DEFINITIONS_API_URL: https://device-definitions-api.dimo.zone
  POLYGON_URL: https://polygonscan.com
  VEHICLE_NFT_ADDRESS: '0xbA5738a18d83D41847dfFbDC6101d37C69c9B0cF'
  CHAIN_ID: 137
  CLIENT_ID: '0x51dacC165f1306Abfbf0a6312ec96E13AAA826DB'
  LOGIN_URL: https://login.dimo.org
  ACCOUNTS_API_URL: https://accounts.dimo.org
  MOTORQ_ORACLE_API_URL: https://motorq-oracle.dimo.zone
  KAUFMANN_ORACLE_API_URL: https://kaufmann-oracle.dimo.org
  STAEX_ORACLE_API_URL: https://dimo.tc.staex.io
  TURNKEY_ORG_ID: c28319a1-73ec-489a-a212-ec8dbd65dd52
  TURNKEY_API_URL: https://api.turnkey.com
  TURNKEY_RP_ID: dimo.org
service:
  type: ClusterIP
  ports:
    mon-http:
      port: 8888
      targetPort: mon-http
      protocol: TCP
    http:
      port: 8080
      targetPort: http
      protocol: TCP
ports:
  - name: mon-http
    containerPort: 8888
    protocol: TCP
  - name: http
    containerPort: 8080
    protocol: TCP
ingress:
  enabled: true
  className: nginx
  annotations:
    nginx.ingress.kubernetes.io/auth-tls-secret: ingress/cf-origin-ca
    nginx.ingress.kubernetes.io/auth-tls-verify-client: 'on'
    nginx.ingress.kubernetes.io/enable-cors: 'true'
    nginx.ingress.kubernetes.io/cors-allow-origin: https://fleet-onboard.dimo.org
    external-dns.alpha.kubernetes.io/hostname: fleet-onboard.dimo.org
  hosts:
    - host: fleet-onboard.dimo.org
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 64Mi
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
nodeSelector: {}
tolerations: []
affinity: {}
podDisruptionBudget:
  minAvailable: 1
serviceMonitor:
  enabled: true
  path: /metrics
  port: mon-http
  interval: 30s
